class Store {

    constructor() {
    }

    // Create any resources needed for this plugin.
    // Authentication can be performed here, if necessary.
    // This method will be called once per plugin.
    createResources() {
    }

    // Handle a stream of logs from a container.
    // This method will be called once per logged container.
    handleStream(stream) {
    }
}

module.exports = {
    Store,
};